* { margin: 0; padding: 0; box-sizing: border-box; }
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/amiri-regular.eot?') format('eot'),
         url('fonts/amiri-regular.woff') format('woff'),
         url('fonts/amiri-regular.ttf')  format('truetype');
}
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('fonts/amiri-bold.eot?') format('eot'),
         url('fonts/amiri-bold.woff') format('woff'),
         url('fonts/amiri-bold.ttf')  format('truetype');
}
@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 400;
    src: url('fonts/amiri-slanted.eot?') format('eot'),
         url('fonts/amiri-slanted.woff') format('woff'),
         url('fonts/amiri-slanted.ttf')  format('truetype');
}
@import url('http://fonts.googleapis.com/earlyaccess/lateef.css');
  /* font-family: 'Lateef', serif; */

body{
	unicode-bidi: bidi-override;
	direction: rtl;
	font-family: 'Lateef', serif;
	font-style: normal;
	font-weight: 400;
	background: rgb(31,17,8);
	color: rgb(240,208,95);
}
header {
	/*unicode-bidi: bidi-override;
	direction: rtl;*/
	display: inline;
	border-bottom: 5px solid gold;
	height: 80px;
}
footer {
	/*unicode-bidi: bidi-override;
	direction: rtl;*/
	border-top: 5px solid gold;
	position: absolute;
	bottom: 0;
}
h1 {
	font-family: 'AmiriWeb', serif;
	font-style: normal;
	font-weight:400;
}
ul {
	padding: 10px;
	background: rgb(2,1,0);
	text-align: left;
}
li {
	display: inline;
	padding: 0 0 0 40px;
}
a {
	color: rgb(240,208,95);
	text-decoration: none;
}
section {
	transition: 0s background;
}
figcaption {
	unicode-bidi: bidi-override;
	direction: rtl;
	margin: 118px 0 0 0;
	color: gold;
	font-size: 34px;
	text-align: center;
}
[class*="food-"] {
	border: 1px solid rgb(240,208,95);
	border-radius: 15px;
	width: 600px;
	height: 270px;
	float: left;
	clear: both;
}
.food-1 {
	background: url(images/tabbouleh.jpg);
	opacity: .3;
	z-index: -1;
	margin: 30px 0 0 204px;
}
.food-2 {
	background: url(images/shawarma.jpg);
	opacity: .3;
	z-index: 0;
	margin: -102px 0 0 365px;
}
.food-3 {
	background: url(images/biryani.jpg);
	opacity: .3;
	z-index: 1;
	margin: -102px 0 0 526px;
}
.food-1:hover {
	z-index: 999;
	opacity: 1;
	transition: 1s ease;
}
.food-2:hover {
	z-index: 999;
	opacity: 1;
	transition: 1s ease;
}
.food-3:hover {
	opacity: 1;
	z-index: 999;
	transition: 1s ease;
}






