@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('amiri-regular.eot?') format('eot'),
         url('amiri-regular.woff') format('woff'),
         url('amiri-regular.ttf')  format('truetype');
}
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('amiri-bold.eot?') format('eot'),
         url('amiri-bold.woff') format('woff'),
         url('amiri-bold.ttf')  format('truetype');
}
@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 400;
    src: url('amiri-slanted.eot?') format('eot'),
         url('amiri-slanted.woff') format('woff'),
         url('amiri-slanted.ttf')  format('truetype');
}

* { margin: 0; padding: 0; box-sizing: border-box; }
body{
	unicode-bidi: bidi-override;
	direction: rtl;

	background: rgb(31,17,8);
	color: rgb(240,208,95);
}
header {
	

}
footer {

}
h1 {
	font-family: AmiriWeb;
	font-style:normal;
	font-weight:400;
	float:right;
}
ul {
	padding: 10px;
	background: rgb(2,1,0);
	text-align: left;
}
li {
	display: inline;
	padding: 0 0 0 40px;
}
figure.food {
	border: 1px solid rgb(240,208,95);
	border-radius: 15px;
	display:inline-block;
}
.food img { border-radius:15px; }
figure.food:first-child { position:absolute; left:0; }
figure.food:nth-child(2) { position:absolute; left:500px; }
figure.food:last-child { position:absolute; right:0; }

a {
	color: rgb(240,208,95);
}
hr {
	border: solid rgb(240,208,95);
}
