* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	background: url(assets/background.jpg);
	background-size: cover;
	
}
div {
	margin: 320px auto auto 100px;
	
}
header {
	background: url(assets/stripes.png);
	background-repeat: repeat-x;
}
hr {
	width: 45px;
	margin-left: 0;
	color: #fe706e;
	background-color: #fe706e;
	border-color: #fe706e;
}
p {
	font-family: helvetica;
	color: white;
	font-size: 25px;
	font-weight: lighter;
	margin: 20px 0;
}
a {
	height: 74px;
	margin-top: 10px;
}
/*input[type="submit"] {
	border: 0;
	background: url(assets/btn_store.png);
	width: 246px;
	height: 74px;
}*/